.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #012B29;
  width: 100vw;
}
.navbar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.navbar ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar a {
  position: relative;
  color: #f9cb40;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar a:hover {
  color: #f9cb40;
  opacity: 1;
}
.navbar a > svg {
  font-size: 2rem;
}
.navbar a svg#crown {
  top: -23px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar a.active {
  color: #f9cb40;
  opacity: 1;
  & svg#crown {
    opacity: 1;
  }
}
.search {
  display: flex;
  align-items: center;
  width: 35%;
}
.search input {
  padding: 0.8rem 0.6rem;
  border-radius: 12px 0px 0px 12px;
  border: none;
  width: 80%;
}
.search button {
  background-color: white;
  padding: 10px 0.6rem;
  border-radius: 0px 12px 12px 0px;
  border: none;
  cursor: pointer;
}
.search button > svg {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  .navbar ul {
    justify-content: space-between;
  }
  .navbar ul li {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .App {
    padding-top: 116px;
    padding-bottom: 94px;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar:not(.nav-bottom) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
  }
  .navbar .search {
    width: 70%;
  }
  .navbar .search input {
    flex: 1;
  }
  .navbar ul {
    width: 100%;
    margin-top: 1rem;
  }
  .navbar ul li {
    font-size: 14px;
    text-align: center;
  }
  .navbar ul li:nth-child(2) {
    margin-left: 22px;
    margin-right: 20px;
  }
  .navbar ul li:nth-child(4) {
    margin-left: 5px;
  }
  .nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100000;
    padding: 1rem 1rem;
  }
}
@media (max-width: 375px) {
  .navbar .search {
    width: 60%;
  }
}
@media (max-width: 350px) {
  .navbar ul li:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar ul li:nth-child(4) {
    margin-left: 0px;
  }
}