@media (max-width: 1100px) {
  .product-page .product-card-main .slider-modal .vertical-images-modal {
    min-width: 180px;
  }
  .product-page .product-card-main .slider-modal .vertical-images-modal img {
    width: 90px;
    height: 90px;
  }
  .product-page .product-card-main .slider-modal .mySwiper {
    max-width: 600px;
  }
}
@media (max-width: 1024px) {
  .product-page .product-card-main {
    padding: 3rem 2rem 2rem;
  }
  .product-page .product-card-main .vertical-images img,
  .product-page .product-card-main .vertical-images .more-images {
    width: 80px;
    height: 80px;
  }
  .product-page .product-card-main .image-product {
    grid-template-columns: 120px 1fr;
  }
  .product-page .product-card-main .main-image {
    height: 400px;
  }
}
@media (max-width: 900px) {
  .product-page .product-card-main {
    gap: 0rem;
    padding: 2rem 1.2rem 1rem;
  }
  .product-page .product-card-main .image-product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .product-page .product-card-main .vertical-images {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    grid-template-areas: vertical;
  }
  .product-page .product-card-main .info-image {
    grid-template-areas: main;
  }
  .product-page .product-card-main .vertical-images img,
  .product-page .product-card-main .vertical-images .more-images {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .product-page .product-card-main .slider-modal {
    grid-template-columns: 200px 1fr;
  }
  .product-page .product-card-main .slider-modal .vertical-images-modal img {
    width: 80px;
    height: 80px;
  }
  .product-page .product-card-main .slider-modal .mySwiper {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .product-page .product-card-main {
    flex-wrap: wrap;
  }
  .product-page .product-card-main .slider-modal {
    display: flex;
    flex-direction: column;
    z-index: 1000000;
  }
  .product-page .product-card-main .slider-modal .vertical-images-modal {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: start;
    width: 90%;
    max-width: 500px;
    margin-left: 1rem;
    flex-wrap: wrap;
    margin-top: 0rem;
    order: 0;
  }
  .product-page .product-card-main .slider-modal .vertical-images-modal img {
    width: 60px;
    height: 60px;
    border-radius: 0;
  }
  .product-page .product-card-main .slider-modal .mySwiper {
    order: 1;
    max-width: 300px;
    max-height: 300px;
  }
  .product-page .product-card-main .slider-modal .info-slide {
    order: 2;
    justify-content: start;
    margin-left: 1rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .progress-slide {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .price-product {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .btn-add-to-cart {
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
  }
  .product-page .product-card-main .slider-modal .btn-close-modal {
    top: 1.5rem;
    right: 0.5rem;
  }
  .product-page .product-card-main .vertical-images img,
  .product-page .product-card-main .vertical-images .more-images {
    width: 40px;
    height: 40px;
  }
  .product-page .product-card-main .main-image {
    min-width: 300px;
    height: 300px;
  }
  .product-page .product-card-main .quick-options {
    flex-direction: column;
    right: 1rem;
    top: 2rem;
  }
  .product-page .store-advantages {
    width: 80%;
  }
  .product-page .store-advantages .advantages-store {
    padding: 0 1rem 1.5rem;
  }
  .product-page .store-advantages .advantages-store h2 {
    font-size: 1.5rem;
  }
  .product-page .advantages-store .item svg {
    min-width: 30px;
    min-height: 30px;
    flex-shrink: 1;
  }
  .product-page .product-details h2 {
    font-size: 1.2rem;
  }
  .product-page .product-details .realismo .realismo-perfomance .statistic {
    display: flex;
    flex-direction: column;
  }
  .product-page .product-details .realismo .realismo-perfomance .statistic > div {
    align-self: flex-start;
    min-width: 0;
    box-sizing: border-box;
  }
  .product-page
    .product-details
    .realismo
    .realismo-perfomance
    .statistic
    .formula1 {
    width: 60%;
  }
  .product-page
    .product-details
    .realismo
    .realismo-perfomance
    .statistic
    .indiana {
    width: 50%;
  }
  .product-page
    .product-details
    .realismo
    .realismo-perfomance
    .statistic
    .shadow {
    width: 70%;
  }
  .product-page
    .product-details
    .realismo
    .realismo-perfomance
    .statistic
    .far {
    width: 80%;
  }
  .product-page
    .product-details
    .realismo
    .realismo-perfomance
    .statistic
    .forza {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .product-page .product-card-main {
    padding: 2rem 0.7rem 1rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .progress-slide {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .price-product {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
  .product-page .product-card-main .slider-modal .info-slide .btn-add-to-cart {
    padding: 0.7rem 0.5rem;
    font-size: 0.9rem;
  }
  .product-page .product-card-main .slider-modal .info-slide {
    flex-wrap: wrap;
  }
  .product-page .product-card-main .info-image {
    max-width: 250px;
  }
  .product-page .product-card-main .main-image {
    min-width: 250px;
    height: 250px;
  }
  .product-page .product-card-main .quick-options {
    flex-direction: row;
    right: 0.5rem;
    top: 0.5rem;
  }
  .product-page .product-card-main .rating-box {
    flex-wrap: wrap;
  }
  .product-page .product-card-main .rating-box .MuiRating-icon {
    font-size: 20px;
  }
  .product-page .product-card-main .product-info .product-name {
    font-size: 1.2rem;
  }
  .product-page .product-card-main .product-info {
    padding: 0 0.7rem;
    min-width: 250px;
  }
  .product-page .product-card-main .product-info .add-to-cart {
    font-size: 1rem;
    padding: 0.9rem 1rem;
  }
  .product-page .product-details h2 {
    font-size: 1rem;
  }
  .product-page .product-details div {
    font-size: 13px;
  }
  .product-page .product-details .introduction {
    padding: 1rem 0 1rem 1rem;
  }
  .product-page .product-details .realismo p {
    padding: 0 5px;
    text-align: center;
  }
}