@media (max-width: 1440px) {
    .products-content .catalog .catalog-products {
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .products-content .catalog .catalog-products .product-card {
        max-width: 250px;
        height: 320px;
    }
}