div[class*="banner"] {
    position: relative;
    width: 100%;
    overflow: hidden;
}
div[class*="banner"] .banner_slide_wrapper {
    width: 100%;
    height: 300px;
}
div[class*="banner"] .banner_slide_wrapper .banner_slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
div[class*="banner"] .slick-dots {
  bottom: 15px;
}
div[class*="banner"] .slick-dots li button:before {
  font-size: 12px;
  color: white; /* cor dos dots */
}
div[class*="banner"] .slick-dots li.slick-active button:before {
  color: #ff6600; /* cor do dot ativo */
}
/* customização das setas */
div[class*="banner"] .slick-prev, 
div[class*="banner"] .slick-next {
  top: 50%;
  transform: translateY(-50%);
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
div[class*="banner"] .slick-prev {
  left: 10px;
}
div[class*="banner"] .slick-next {
  right: 10px;
}
div[class*="banner"] .slick-prev:before, 
div[class*="banner"] .slick-next:before {
  display: none;
}

div[class*="banner"] .slick-prev:hover, div[class*="banner"] .slick-next:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
}