div[class^="offers-"] {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
    width: 100%;
}
div[class^="products-"] {
    width: 100%;
    /* padding/margin se precisar */
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 1rem 0px;
    border-radius: 5px;
}
.product-card:hover {
    background-color: #233D4D;
    color: #fff;
}
.product-card img {
    margin-bottom: 15px;
    border-radius: 5px;
}
.product-card p {
    font-size: 0.8rem;
    color: #333;
    text-align: center;
}
.product-card:hover p {
    color: #fff;
}
.product-card .price-product {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}
.product-card .name-product {
    margin-bottom: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.product-card .name-product:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: width 0.6s ease-in-out;
}
.product-card:hover .name-product:after {
    width: 0;
    background-color: #fff;
}
.product-card .royalty {
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    top: -15px;
    left: -125%;
    transition: left 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
    opacity: 0;
    animation: leftOut 0.3s forwards cubic-bezier(0.77, 0, 0.175, 1);
}
.product-card:hover .royalty {
    animation: leftIn 0.3s forwards cubic-bezier(0.77, 0, 0.175, 1);
}
.line-left, .line-right {
    width: 20.92px;
    height: 2px;
    background-color: #F9CB40;
}
.crown {
    color: #F9CB40;
}
div[class^="title-"] {
    background-color: #233D4D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9CB40;
    font-family: "Kulim Park", sans-serif;
    padding: 1rem;
}
div[class^="title-"] h2 {
    color: #F9CB40;
}
h2 svg {
    color: #F9CB40;
    vertical-align: middle;
}
.product-card .btn-buy {
    background-color: #233D4D;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
.product-card:hover .btn-buy {
    background-color: #F9CB40;
    color: #233D4D
}
.link {
    font-size: 1.5rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.link svg {
    vertical-align: middle;
}
.link:hover {
    border-bottom: 1px solid #F9CB40;
}

/* customização das setas */
.slick-prev, 
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.slick-prev:before, 
.slick-next:before {
  display: none;
}

div[class^="products-"] .slick-prev {
    left: -40px !important;
}
div[class^="products-"] .slick-next {
    right: -40px !important;
}
.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 50%;
}
.slick-prev.slick-disabled, 
.slick-next.slick-disabled {
  opacity: 0.4;         /* deixa a seta meio apagada */
  pointer-events: none; /* evita clique */
  cursor: default;
}

@keyframes leftIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes leftOut {
    0% {
        left: 0;
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        left: -125%;
        opacity: 0;
    }
}