.footer {
    background-color: #012B29;
    color: white;
    padding: 1rem 2rem 2rem;
    text-align: center;
}
.footer .logo img {
    width: 150px;
    height: 150px;
}
.footer h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.footer .pay_methods_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .pay_methods_list .icon_pay {
    width: 100px;
    height: 70px;
}
.footer .pay_methods_list .icon_pay img {
    width: 100%;
    height: 70px;
}
.footer .pay_methods_list .icon_pay .credit {
    width: 100px;
    height: 70px;
    fill: #F9CB40;
}
.footer .pay_methods_list .pix svg {
    fill: #F9CB40;
}
.informations {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1.5rem;
}
.informations .info_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 14px;
}
.informations .info_list h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: default;
}
.informations .info_list .icon_link {
    display: flex;
    gap: 0.4rem;
}
.informations .info_list .icon_link a {
    color: #F9CB40;
    transition: all 0.3s ease-in-out;
}
.informations .info_list li {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.informations .info_list li:not(:has(h3)):hover {
    text-decoration: underline;
    color: #F9CB40;
}
hr {
    margin-bottom: 2rem;
    opacity: 0.6;
}
.copy {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
.copy .social_medias_list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 2rem 0;
}
.copy .social_medias_list li {
    display: flex;
    align-items: center;
}
.copy .social_medias_list .zap {
    vertical-align: middle;
}
.copy .social_medias_list li svg {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}
.copy .social_medias_list li svg:hover {
    opacity: 1;
}