.departments {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 500px;
}
.departments .departments_list {
    margin-bottom: 2rem;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    width: 95%;
    background-color: #fff;
    padding: 0.5rem 1rem;
}
.departments_list .department_item {
    text-align: center;
    position: relative;
}
.departments_list li h3 {
    width: 100%;
    padding: 0.5rem;
    height: 58px;
}
.subcategories {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.departments .subcategories li {
    border-bottom: 1px solid #000;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 0;
}
.departments .subcategories li:hover {
    padding: 1rem 0;
}
.departments .subcategories li a {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-align: center;
    opacity: 1;
}