.favorites {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Para usuários anônimos */
.favorites .anon {
    width: 50%;
    margin: 2rem 0;
    text-align: center;
}
.favorites .anon h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    gap: 0.5rem;
}
.favorites .anon h2 .emoji {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-self: flex-start;
}
.favorites .anon div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.favorites .anon div .login-link {
    background-color: #012B29;
    color: #fff;
    padding: 0.5rem;
    width: 35%;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.favorites .anon div .login-link:hover {
    transform: scale(1.1);
    color: #F9CB40;
}
.favorites .anon div .register-link {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    width: 35%;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.favorites .anon div .register-link:hover {
    transform: scale(0.9);
}
/* "Aviso de "Sem favoritos" */
.favorites .aviso {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    margin: 3rem 0;
    padding: 2.5rem 2rem;
    border-radius: 14px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.favorites .aviso h2 {
    font-size: 1.5rem;
    color: #d32f2f;
    margin: 0;
}
.favorites .aviso p {
    color: #012B29;
    font-size: 1.1rem;
}
.favorites .aviso .btn-aviso {
    background-color: #047973;
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.favorites .aviso .btn-aviso:hover {
    background-color: #012B29;
}

/* Para clientes */

.favorites .favorites-box {
    width: 100%;
    max-width: 1600px;
    padding: 1rem;
}
.favorites .favorites-list {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: center;
}
.favorites .favorites-list .favorite-item {
    display: flex;
    justify-content: center;
}
.favorites .favorites-list .favorite-item .product-card.landscape {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.25s ease;
    cursor: pointer;
    position: relative;
}
.favorites .favorites-list .product-card.landscape:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}
.favorites .favorites-list .product-card.landscape .rating-favorite-box {
    display: flex;
    justify-content: space-between;
}
.favorites .favorites-list .product-card.landscape img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}
.favorites .favorites-list .product-card.landscape .info-prod {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.favorites .favorites-list .product-card.landscape .info-prod .name-product {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    line-height: 1.3;
    margin-bottom: .5rem;
}
.favorites .favorites-list .product-card.landscape .prev-price {
    text-decoration: line-through;
    font-size: 0.9rem;
    color: #777;
}
.favorites .favorites-list .product-card.landscape .price-product {
    font-size: 1.4rem;
    font-weight: bold;
    color: #012B29;
}
.favorites .favorites-list .product-card.landscape .btn-buy.hidden {
    display: none;
}
.favorites .favorites-list .product-card.landscape .royalty {
    display: none;
}
@media (max-width: 1440px) {
    .favorites {
        padding: 2rem;
    }
    .favorites .favorites-list {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
@media (max-width: 1024px) {
    .favorites {
        padding: 0.5rem;
    }
    .favorites .favorites-box {
        padding: 0.5rem;
    }
    .favorites .favorites-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .favorites .favorites-list .product-card.landscape {
        padding: .8rem;
    }
    .favorites .favorites-list .product-card.landscape img {
        width: 120px;
        height: 120px;
    }
    .favorites .favorites-list .product-card.landscape .rating-favorite-box .MuiRating-icon {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    .favorites .favorites-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .favorites .favorites-list .product-card.portrait {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        align-items: center;
        gap: 0.4rem;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        padding: 1rem 0.5rem;
        border-radius: 8px;
    }
    .favorites .favorites-list .product-card.portrait .rating-favorite-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .favorites .favorites-list .product-card.portrait .royalty {
        display: none;
    }
    .favorites .favorites-list .product-card.portrait p {
        text-align: center;
        margin-bottom: 5px;
    }
    .favorites .favorites-list .product-card.portrait img {
        margin-bottom: 15px;
    }
    .favorites .favorites-list .product-card.portrait .btn-buy {
        display: none;
    }
}
@media (max-width: 768px) {
    .favorites {
        padding: 1rem 0.5rem;
    }
    .favorites .favorites-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 550px) {
    .favorites .favorites-list {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .favorites .favorites-list .product-card.portrait img {
        width: 120px;
        height: 120px;
    }
}
@media (max-width: 350px) {
    .favorites {
        padding: 0.5rem;
    }
    .favorites .favorites-list .product-card.portrait img {
        width: 100px;
        height: 100px;
    }
    .favorites .favorites-list .product-card.portrait .name-product {
        font-size: 1rem;
    }
    .favorites .favorites-list .product-card.portrait p {
        font-size: 0.8rem;
    }
    .favorites .favorites-list .product-card.portrait .rating-favorite-box .MuiRating-icon {
        font-size: 20px;
    }
}