.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}
h2 {
    color: #233d4d;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;  
}
.main-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.carrossel {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 20px 0;
}