.products-content .banner {
    width: 80%;
    height: 300px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-content .banner img {
    width: 100%;
    height: 100%;
}
.products-content div[class*="automated"] {
    width: 60%;
    margin: 0px auto 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #233d4d71;
}
.products-content div[class*="automated"] .product-card.landscape {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.products-content div[class*="automated"] div[class^="title"].hidden {
    display: none;
}
.products-content div[class*="automated"] div[class^="products"] .product-card.landscape:hover .heart-bubbly svg  {
    color: #000; 
}
.products-content div[class*="automated"] div[class^="products"] .product-card.landscape .btn-buy.hidden {
    display: none;
}
.products-content div[class*="automated"] div[class^="products"] .product-card.landscape .info-prod {
    width: 50%;
}
.products-content div[class*="automated"] div[class^="products"] .product-card.landscape .name-product {
    margin: 0.5rem 0 0.5rem 0;
}
.products-content div[class*="automated"] div[class^="products"] .product-card.landscape .info-prod .price-product {
    margin-bottom: 0.5rem;
}
.products-content .catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.products-content .catalog .filters {
    width: 300px;
    height: auto;
    background-color: cadetblue;
}
.products-content .filters .filter {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
}
.products-content .filter .filter-category-list {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}
.products-content .filter .filter-category-list li label {
    margin-left: 5px;
}
.products-content .catalog .catalog-products {
    width: calc(100% - 300px - 4rem);
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    position: relative;
    margin-bottom: 2rem;
}
.products-content .quantity-products{
    position: absolute;
    top: -2rem;
}
.products-content .catalog .catalog-products .view-switching {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3rem;
    right: 8rem;
    gap: 0.8rem;
}
.products-content .catalog .catalog-products .view-switching div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
}
.products-content .catalog .catalog-products .view-switching span {
    padding: 0.3rem;
    border: 1px solid #000;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.products-content .catalog .catalog-products .view-switching span.active {
    background-color: #012B29;
    color: #F9CB40;
}
.products-content .catalog .catalog-products .product-card {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 0 5px 10px #233d4d71;
}
.products-content .catalog .catalog-products .product-card .rating-favorite-box {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.products-content .catalog .catalog-products .product-card .royalty {
    display: none;
}
.products-content .catalog .catalog-products .product-card .name-product {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.products-content .catalog .catalog-products .product-card p {
    text-align: center;
    font-size: 13px;
}
.products-content .catalog .catalog-products .product-card .price-product {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 18px;
}
.products-content .catalog .catalog-products .product-card .btn-buy.hidden {
    display: none;
}
.products-content .catalog .catalog-products .pagination-nav {
    position: absolute;
    display: flex;
    list-style: none;
    bottom: -4rem;
    left: 43%;
    gap: 0.5rem;
    padding: 0;
}
.products-content .catalog .catalog-products .pagination-nav li {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-weight: bolder;
    color: #233d4d;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.products-content .catalog .catalog-products .pagination-nav li:hover {
    background-color: #012b294d;
}
.products-content .catalog .catalog-products .pagination-nav li.active {
    background-color: #012B29;
    color: #fff;
}
.products-content .catalog .catalog-products .pagination-nav .prev,
.products-content .catalog .catalog-products .pagination-nav .next {
    cursor: pointer;
}
.products-content .catalog .catalog-products.list {
    flex-direction: column;
    gap: 2rem;
}
.products-content .catalog .catalog-products.list .product-card {
    width: 90%;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 17px;
    gap: 2rem;
}
.products-content .catalog .catalog-products.list .product-card .name-product {
    font-size: 1.5rem;
}
.products-content .catalog .catalog-products.list .product-card .info-prod {
    display: flex;
    justify-content: space-between;
}