.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem;
    width: 100%;
}
.login_form {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    gap: 1rem;
    background-color: #012B29;
    padding: 2rem;
    border-radius: 24px;
    margin-bottom: 1rem;
    position: relative;
}
.login_form p {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px 15px;
}
.login_form p.error {
    color: #ffb3b3;
    font-weight: 300;
}
.login_form p.sucess {
    color: lightgreen;
}
.login_form p svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}
.login_form input {
    width: 100%;
    border: none;
    padding: 0.8rem;
    border-radius: 7px 7px 0px 0px;
    font-size: 1.2rem;
}
.login_form input::placeholder {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
}
.login_form button {
    display: flex;
    justify-content: center;
    font-family: "Kulim Park", sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.login_form button:hover {
    background-color: #f9cb40;
    color: black;
}
.login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.login div p {
    font-size: 1.2rem;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.login div a {
    color: #233e4d;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}
.login div a:hover {
    opacity: 1;
    color: #012B29;
    text-decoration: underline;
}
@media (max-width: 350px) {
    .login div p {
        font-size: 16px;
    }
}